google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.118.0
PyPDF2==3.0.1
python-docx==1.1.0
openpyxl~=3.1.5
python-pptx==0.6.23
nltk~=3.9.1

lxml~=5.3.1
beautifulsoup4~=4.13.3
soupsieve~=2.6
ipython~=8.34.0
numpy~=1.26.4
typing_extensions~=4.12.2
pillow~=11.0.0
pip~=25.0.1
attrs~=25.3.0
distro~=1.9.0
wheel~=0.45.1
cryptography~=44.0.2
filelock~=3.18.0
matplotlib~=3.10.1
regex~=2024.11.6
scipy~=1.14.1
click~=8.1.8
tqdm~=4.67.1
requests~=2.32.3
pyparsing~=3.2.3
XlsxWriter~=3.2.2
pytz~=2024.2
rich~=13.9.4
keras~=3.9.2
colorama~=0.4.6
setuptools~=65.5.0
cffi~=1.17.1
joblib~=1.4.2
six~=1.16.0
et_xmlfile~=2.0.0
packaging~=24.2
zipp~=3.21.0
build~=1.2.2.post1
platformdirs~=4.3.6
tensorflow~=2.19.0
transformers~=4.50.3